
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(0, 0, 0) ;
    font-family: 'Ubuntu';
}
  
/* navigation bar  */

.topnav{
    background-color: rgb(0, 0, 0);
    height: 70px;
    width: 100%;
    align-items: center;
    display:flex;
    position: fixed;
    overflow: hidden;
    z-index: 2;
    top: 0%;
    /* border: 2px solid red; */
}

.topnav a{
    color: red;
    text-align: center;
    padding: 20px 90px;
    font-size: 30px;
    float: left;
    text-decoration:none;
    margin-left: 50px;
    
}
.topnav a:hover{
    background-color: white;
    color: black;
}

img{
width:800px;
    float: left;
    /* border: 2px solid red; */
    margin: 10px 10px 10px auto;
}


.intro{
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 400;
    display :flex;
    position:relative;       
    justify-content : right; 
    margin:300px 5px 10px 10px;
    /* border: 2px solid red; */
    width: 590px;
     
        
} 



.wrapper{
    display: flex;
    min-height: 1vh;
    justify-content: center;
    align-items: center;
}


.wrapper .static-txt{
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 400;
    
}

.wrapper .dynamic-txt{
   
    line-height: 90px;
    height: 90px;
    overflow: hidden;
    z-index: 0;
}
.wrapper, .dynamic-txt{
    /* border: 2px solid red; */
    justify-content: right  ;
    margin: 10px 30px 10px auto;
    width: 580px;
    
    
}

.dynamic-txt li{
    list-style: none;
    color: red;
    font-size: 60px;
    font-weight: 500;
    top:0;
    position: relative;
    animation :slide  12s steps(4) infinite; 

    
}

@keyframes slide{
    100%{
        top :-360px;
    }
}
    
.dynamic-txt li{
position: relative;
}

.dynamic-txt li::after{
    content:"";
    position:absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:#000000;
    border-left: 2px solid red;
    animation: typing 3s steps(13) infinite;
}
@keyframes typing {
    40%,
    60%{
        left : calc(100% + 30px)
        
    }
}

/*  about me  */

.aboutHeader{
    color: red;
    font-size: 50px;
    
    margin-top: 300px;  
    /* border: 2px solid red; */
    
}

.aboutinfo{
    color:white;
    font-size: 25px;
    text-align: justify;
    margin: 50px 30px 30px 30px;

}

.topbox{
    position: relative;
    width: 1200px; 
    height: 400px;
    margin-top: 90px ;
    margin-left: 100px;
    /* border: 2px solid red; */
    
 
 }
  .topbox .firstbox{
     position: relative;
     width: calc(400px - 30px);
     height: calc(200px-30px);
     background-color: #26b583;
     float: left;
     margin: 15px;
     box-sizing: border-box;
     overflow: hidden;
     border-radius: 30px;
 
  }
  .firstbox  .icon{
     text-align: center;
     font-size: 40px;
     
     margin-top: 30px;
  }
  .firstbox h2{
     text-align:center ;
     justify-content: center;
     margin: 30px 20px 10px  20px;
     /* border: 1px solid red; */
  }
 
  .firstbox p{
     text-align: center;
     margin-top: 10px;
     font-size: 25px;
  }
 /* second box */
 
  .topbox .secondbox{
     position: relative;
     width: calc(400px - 30px);
     height: calc(300px-30px);
     background-color: #88d621;
     float: left;
     margin: 15px;
     box-sizing: border-box;
     overflow: hidden;
     border-radius: 30px;
 
  }
  .secondbox .icon{
    text-align: center;
     font-size: 40px;
     margin-top: 30px;
  }
  .secondbox h2{
    text-align:center ;
    justify-content: center;
    margin: 30px 20px 10px  20px;
    /* border: 1px solid red;    */
  }
 
  .secondbox p{
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
  }
 
 
 /* third box */
 
  .topbox .thirdbox{
     position: relative;
     width: calc(400px - 30px);
     height: calc(300px-30px);
     background-color: #2581d6;
     float: left;
     margin: 15px;
     box-sizing: border-box;
     overflow: hidden;
     border-radius: 30px;
 
  }
  .thirdbox .icon{
    text-align: center;
     font-size: 40px;
     margin-top: 30px;
  }
  .thirdbox h2{
    text-align:center ;
    justify-content: center;
    margin: 30px 20px 10px  20px;
    /* border: 1px solid red;  */
  }
 
  .thirdbox p{
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
  }
 
  /* hovor css*/
  
  .topbox .firstbox:hover{
    color: aliceblue;
    background-color: #00ff84;
    box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.5);
  }
  .topbox .secondbox:hover{
    color: rgb(255, 255, 255);
    background-color: #00ff84;
    box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.5);
  }
  .topbox .thirdbox:hover{
    color: rgb(255, 255, 255);
    background-color: #00ff84;
    box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.5);
  }



  /* Resume page  */


  #resume h1{
    color: rgb(255, 8, 8);
    margin-left: 600px;
    margin-top: 60px;
    font-size: 40px;
}
 .resumeheading {
     background-color: rgb(255, 255, 255);
     color: rgb(255, 0, 0);
     height: 35px;
     justify-content: center;
     margin-top: 45px;
     border-radius: 25px;
   
}
.resumeheading h3{
    margin-left: 40px;
    padding:5px;
    
}
ul{
    color: white;
    margin-left: 70px;
}

.summarytext  p{
    color: white;
    margin-left: 90px;
}



.btn {
    background-color: rgb(255, 21, 0);
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    
  }
  
  
  .btn:hover {
    background-color: rgb(46, 106, 155);
  }
 .btn{
    margin-left: 50px;
    margin-top: 50px;
 }






 .main {
    font-size: 25px;
    padding-top: 150px;
    padding-left: 80px;
    display: flex;
    margin-bottom: 100px;
}

.Us {
    border: 3px solid rgb(82, 50, 50);
    height: 460px;
    border-radius: 80px;
    width: 460px;
    text-align: center;
}

.Us h1 {
    border: 1px;
    width: 350px;
    margin-left: 50px;
    text-align: center;
    border-radius: 40px;
    color: rgb(255, 0, 0);
}

.Us h1:hover {
    color: rgb(255, 0, 0);

}

.name,.number,.email {
    border: 3px solid white;
    width: 300px;
    height: 35px;
    font-size: 15px;
    text-align: center;
    border-radius: 20px;
    margin: 10px;
}

.name:hover,
.number:hover,
.email:hover,
.me textarea:hover {
    border-color: red;
}

 textarea {
    height: 45px;
    width: 250px;
    border: 2px solid black;
    margin: 10px;
}

.Us button {
    color: rgb(0, 0, 0);
    background-color: aliceblue;
    font-weight: bold;
    border-radius: 25px;
    font-size: 15px;
    padding: 10px;
    border: 1px solid black;
}

.Us button:hover {
    color: rgb(9, 7, 7);
    background-color: rgb(99, 76, 76);
}

   /* media buttons */

   
 #media{
    background-color: rgb(244, 243, 243);
    border-radius: 20px;
    width: 35px;
    margin-top: 30px;
    
}

#media:hover {
    width: 40px;
} 

.icons {
    height: auto;
    width: 104vh;
    text-align: center;
    margin-left: 200px    ;

}


.icons h1 {
    color: white;
    font-size: 40px;
    margin-top: 10px;
    margin-right: 293px;
    /* border: 2px solid red; */
}
.follow{
    color: white;
    font-size: 40px;
    margin-top: 156px;
    margin-bottom: 1%;
    margin-right: 45%;
}

.icons img {
    border: 1px solid white;
    width: 30px;
    padding: 10px;
    border-radius: 13px;
    margin-left: 50px;
}

.icons img:hover {
    width: 35px;
    transition: 0.4s;
    background-color: rgb(196, 234, 240);
}

.copy h3 {
    border: 1px solid white;
    background-color: aliceblue;
    color: black;
    font-size: 20px;
    text-align: center;
}
